{% extends 'Base.html' %}



{% block content %}
<center>
<form method="POST">
    {% csrf_token %} 
    {% if error_message == "exists" %} 
        This unit already exists in this facility.  Please choose another.<br>
    {% endif %} 
    <label for="facility_dropdown">Choose a facility</label><br>
    <select name="facility_dropdown" id="facility_dropdown" value={{FacilityList.0.name}}>
        {% for one_facility in FacilityList %} 
            {% if one_facility.name == this_facility.name %} 
                <option value="{{one_facility.name}}" selected>{{one_facility.name}}</option>
            {% else %} 
                <option value="{{one_facility.name}}">{{one_facility.name}}</option>
            {% endif %} 
        {% endfor %} 
    </select><br>
    <label for="unit_name">Unit name:</label>
    <input type="text" id="unit_name" name="unit_name" value=''><br>

    <button type="submit" class="btn btn-success">Add Unit</button>
    <br>
    You will be asked to add beds on the next page
    <input type='hidden' name='what_to_do' value='add_unit'>
</form>
<form action='/'>
    <button type="submit" class="btn btn-success">Return to Home Screen</button>
</form>
</center>
{% endblock %}