{% extends 'Base.html' %}



{% block content %}
<center>Build new Facility 
<form method="POST">
    {% csrf_token %} 
   

            <label for="facility_name">Facility Name:</label>
            <input type="text" id="facility_name" name="facility_name" value=''><br>
        
        
            <label for="address1">Address Line1:</label>
            <input type="text" id="address1" name="address1" value=''><br>
        
        
            <label for="address2">Address Line2:</label>
            <input type="text" id="address2" name="address2" value=''><br>
                
        
            <label for="address3">Address Line3:</label>
            <input type="text" id="address3" name="address3" value=''><br>
            
            <label for="city">City</label>
            <input type="text" id="city" name="city" value=''><br>

            <label for="state">State</label>
            <input type="text" id="state" name="state" value=''><br>
            
            
            <label for="zip_code">Zip Code</label>
            <input type="text" id="zip_code" name="zip_code" value=''><br>
            
            
            <label for="phone_number">Phone Number</label>
            <input type="text" id="phone_number" name="phone_number" value=''><br>
            
            
            <label for="fax_number">Fax Number</label>
            <input type="text" id="fax_number" name="fax_number" value=''><br>
            <button type="submit" class="btn btn-success">Add Facility</button>
</form>
</center>
{% endblock %}