{% extends 'Base.html' %}

{% block content %}
{% load static %}
<div class="heading_bar_split">
    <div class="heading_left">
        Welcome to Telegraph<br>The Solution to Communication in Health Care
    </div>

    <div class="heading_right">
        <img src="{% static 'images/telegraphsmall.jpg' %}" alt="Telegraph picture" height=120 align="right">
    </div>
</div>

<div class="sub-title">
    <center>
        {{Error_Message}}<br>
        Change your password here
    </center>
</div>

<div class="body-split">

    <div class="body-left">
        <img src="{% static 'images/telegraphbig.jpg' %}" width="65%" height="65%" alt="Telegraph picture">
    </div>

    <div class="body-right">
        <div class="form-box">
            <form method="POST">
                {% csrf_token %}
                <center>
                    <label for="password1">New Password:</label><br>
                    <input type="password" id="password1" name="password1"><br>
                    <label for="password2">Confirm Password:</label><br>
                    <input type="password" id="password2" name="password2"><br>

                    <button type="submit" class="btn btn-success">Update Password</button>
                </center>
            </form>
        </div>
    </div>
</div>
{% endblock %}