{% extends 'Base.html' %}



{% block content %} 

    {% load static %}
    <div class="heading_bar_split">
        <div class="heading_left">
            Welcome to Telegraph<br>The Solution to Communication in Health Care
        </div>
    
        <div class="heading_right">
            <img src="{% static 'images/telegraphsmall.jpg' %}" alt="Telegraph picture" height=120 align="right">
        </div>
    </div>

    <div class="sub-title">
        <center>
            Create a Message
        </center>
    </div>

{% endblock %} 